<app-alert *ngIf="showAlert" [color]="alertColor">
    {{alertMsg}}
</app-alert>

<!-- Registration Form -->
<form [formGroup]="registerForm" (ngSubmit)="register()">
    <!-- Name -->
    <div class="mb-3">
      <label class="inline-block mb-2 text-darker">Name</label>
      <app-input [control]="registerForm.controls.name" placeholder="Enter Name"></app-input>
    </div>
    <!-- Email -->
    <div class="mb-3">
      <label class="inline-block mb-2 text-darker">Email</label>
      <app-input [control]="registerForm.controls.email" type="email" placeholder="Enter Email"></app-input>
    </div>
    <!-- Age -->
    <div class="mb-3">
      <label class="inline-block mb-2 text-darker">Age</label>
      <app-input [control]="registerForm.controls.age" type="number" placeholder="Enter Age"></app-input>
    </div>
    <!-- Password -->
    <div class="mb-3">
      <label class="inline-block mb-2 text-darker">Password</label>
      <app-input [control]="registerForm.controls.password" type="password"
      placeholder="Enter Password"></app-input>
    </div>
    <!-- Confirm Password -->
    <div class="mb-3">
      <label class="inline-block mb-2 text-darker">Confirm Password</label>
      <app-input [control]="registerForm.controls.confirm_password" type="password"
      placeholder="Confirm Password"></app-input>
    </div>
    <!-- Phone Number -->
    <div class="mb-3">
      <label class="inline-block mb-2 text-darker">Phone Number</label>
      <app-input [control]="registerForm.controls.phoneNumber" format="(000)000-0000" placeholder="Enter Phone Number"></app-input>
    </div>
    <button type="submit"
      class="block w-full bg-deep-blue text-coral-red py-1.5 px-3 rounded transition
        hover:bg-less-deep-blue disabled:opacity-50 disabled:bg-deep-blue" 
        [disabled]="registerForm.invalid || inSubmission">
      Submit
    </button>
  </form>
