<app-alert *ngIf="showAlert" [color]="alertColor">
  {{alertMsg}}
</app-alert>

<!-- Login Form -->
<form #loginForm="ngForm" (ngSubmit)="login()">
    <!-- Email -->
    <div class="mb-3">
      <label class="inline-block mb-2 text-darker">Email</label>
      <input #email="ngModel"
       type="email" name="email" [(ngModel)]="credentials.email"
        class="block w-full py-1.5 px-3 text-deep-blue border border-darker transition
          duration-500 focus:outline-none rounded bg-transparent
          focus:border-deep-blue placeholder-deep-blue"
        placeholder="Enter Email" required
        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" />
      <p *ngIf="email.errors && email.touched && email.dirty" class="text-deep-blue">Email is invalid</p>
      </div>
    <!-- Password -->
    <div class="mb-3">
      <label class="inline-block mb-2 text-darker">Password</label>
      <input #password="ngModel"
       type="password" name="password" [(ngModel)]="credentials.password"
        class="block w-full py-1.5 px-3 text-deep-blue border border-darker transition
        duration-500 focus:outline-none rounded bg-transparent focus:border-deep-blue placeholder-deep-blue"
        placeholder="Password" required 
        />
        <p *ngIf="password.errors && password.touched && password.dirty" class="text-deep-blue">Password is invalid</p>
    </div>
    <button type="submit"
      class="block w-full bg-deep-blue text-coral-red py-1.5 px-3 rounded transition
        hover:bg-less-deep-blue disabled:opacity-50 disabled:bg-deep-blue"
        [disabled]="loginForm.invalid || inSubmission">
      Submit
    </button>
  </form>